<ion-content [fullscreen]="true">
  <!-- shows loading screen until map is ready -->
  @if (!mapReady()) {
    <div class="spinner-overlay">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  }
  <!-- displays Map component and sends signal to remove loading screen -->
   <!-- mapReady and pinDropped is called to connect map component and user functions -->
  <app-map-display 
    #mapComp 
    (mapReady)="onMapReady($event)"
    (pinDropped)="onPinDropped($event)"> 
  </app-map-display>
  <app-menu-screen></app-menu-screen>
  
  <div class="bottom-container">
    <!-- Warning sign -->
    <div style="display: flex; justify-content: center; width: 100%;">
    @if (pinCheck() && currentView() == 'start') {
      <div class="pin-warning">
        <ion-icon name="warning-outline" color="warning"></ion-icon>
        <ion-label color="danger" style="font-weight: bold;">
          Please drop a pin on the map
        </ion-label>
      </div>
    }
  </div>
    <ion-card>
      <!-- first card options single rider or group -->
      @if (currentView() == 'selection'){
      <ion-card-header>
        
        <ion-card-title>Select Option:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- grid for responsiveness -->
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" (click)="startSession()" color="primary">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                Single Rider
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" (click)="selectGroup()" fill="outline">
                <ion-icon name="people-outline" slot="start"></ion-icon>
                Group Ride
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      }
      <!-- card when user selects group -->
      @if (currentView() == 'group'){
      <ion-card-header>
        <ion-toolbar color="transparent">
          <ion-buttons slot="start">
            <ion-button (click)="goBack()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-card-title>Enter Group Code</ion-card-title>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" (click)="createGroup()" color="primary">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                Create Group
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" (click)="joinGroup()" fill="outline">
                <ion-icon name="people-outline" slot="start"></ion-icon>
                Join Group
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      }
      
      @if (currentView() == 'create'){
        <!-- allows user to go back -->
        <ion-card-header>
          <ion-toolbar color="transparent">
            <ion-buttons slot="start">
              <ion-button (click)="goBack()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-card-title>Enter Group Code</ion-card-title>
          </ion-toolbar>
        </ion-card-header>
        <!-- card when user selects create group -->
        <ion-card-content>  
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <h1 class="groupCodeDisplay">{{groupCode()}} </h1>
              </ion-col>
              <ion-col size="12" class="ion-text-center">
                <ion-button (click)="startSession()">
                  Start Session
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      }
      <!-- holds card when user selects join group -->
      @if (currentView() == 'join'){
        <ion-card-header>
          <ion-toolbar color="transparent">
            <ion-buttons slot="start">
              <ion-button (click)="goBack()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-card-title>Enter Group Code</ion-card-title>
          </ion-toolbar>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <h1 class="joinDisplayCode">
                  <ion-input [(ngModel)]="userJoinCode" name="joinInput" placeholder="Enter Group Code:"></ion-input>
                </h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      }
      @if (currentView() == 'start'){
        <ion-card-header>
          <ion-toolbar color="transparent">
            <ion-buttons slot="start">
              <ion-button (click)="goBack()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-card-title>Route Preferences</ion-card-title>
          </ion-toolbar>
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-toggle [(ngModel)]="curveToggled">Less Curves:</ion-toggle>
            </ion-col>
            <ion-col class="ion-text-right">
              <ion-toggle [(ngModel)]="speedToggled"> Slower Speeds: </ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-toggle [(ngModel)]="weatherToggled"> Check Weather:</ion-toggle>
            </ion-col>
            <ion-col class="ion-text-right">
              <ion-toggle [(ngModel)]="lightToggled">Less Lights:</ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
          </ion-row>
          <ion-row>
            <ion-col size="10" class="ion-text-left">
              <ion-range 
                  [min]="100"
                  [max]="500"
                  aria-label="Range with ionChange" 
                  (ionInput)="onIonChange($event)"
                  labelPlacement="start" label="Circle Radius:">
              </ion-range>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button [disabled]="pinCheck()" id="startButton">Confirm Ride</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      }
    </ion-card>
  </div>
</ion-content>