
<ion-content [fullscreen]="true">
  <!-- shows loading screen until map is ready -->
  @if (!mapReady()) {
    <div class="spinner-overlay">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  }
  <!-- displays Map component and sends signal to remove loading screen -->
   <!-- mapReady and pinDropped is called to connect map component and user functions -->
  <app-map-display
    #mapComp
    (mapReady)="onMapReady($event)"
    (pinDropped)="onPinDropped($event)"
    (distanceToLine)="onDistanceToLine($event)">
  </app-map-display>
  <app-menu-screen></app-menu-screen>

  <div class="bottom-container">
    <!-- Warning sign -->
    <div style="display: flex; justify-content: center; width: 100%;">
    @if (pinCheck() && currentView() == 'start') {
      <div class="pin-warning">
        <ion-icon name="warning-outline" color="warning"></ion-icon>
        <ion-label color="danger" style="font-weight: bold;">
          Please drop a pin on the map and scroll through filters for route
        </ion-label>
      </div>
    }
  </div>
  @if (displayMainCard()){
    <ion-card>
      <!-- first card options single rider or group -->
      @if (currentView() == 'selection'){
      <ion-card-header>

        <ion-card-title>Select Option:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- grid for responsiveness -->
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" (click)="startSession()" color="primary">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                Single Rider
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" (click)="selectGroup()" fill="outline">
                <ion-icon name="people-outline" slot="start"></ion-icon>
                Group Ride
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      }
      <!-- card when user selects group -->
      @if (currentView() == 'group'){
      <ion-card-header>
        <ion-toolbar color="transparent">
          <ion-buttons slot="start">
            <ion-button (click)="goBack()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-card-title>Enter Group Code</ion-card-title>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" (click)="createGroup()" color="primary">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                Create Group
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" (click)="joinGroup()" fill="outline">
                <ion-icon name="people-outline" slot="start"></ion-icon>
                Join Group
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      }

      @if (currentView() == 'create'){
        <!-- allows user to go back -->
        <ion-card-header>
          <ion-toolbar color="transparent">
            <ion-buttons slot="start">
              <ion-button (click)="goBackHost()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-card-title>Enter Group Code</ion-card-title>
          </ion-toolbar>
        </ion-card-header>
        <!-- card when user selects create group -->
        <ion-card-content>
          <ion-grid>
             <!-- quick fix to help with alignment -->
            <ion-row></ion-row><ion-row></ion-row><ion-row></ion-row><ion-row>
               <!--  -->
              <ion-col size="12" class="ion-text-center">
                <h1 class="groupCodeDisplay">{{groupCode}} </h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-button (click)="startSession()">
                  Start Session
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-grid class="name-grid">
                @for (mem of groupMembers(); track mem) {
                  <ion-row>
                        <ion-item>
                          {{ mem }}
                        </ion-item>
                  </ion-row>
                }
              </ion-grid>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      }
      <!-- holds card when user selects join group -->
      @if (currentView() == 'join'){
        <ion-card-header>
          <ion-toolbar color="transparent">
            <ion-buttons slot="start">
              <ion-button (click)="goBackMember()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-card-title>Enter Group Code</ion-card-title>
          </ion-toolbar>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <h1 class="joinDisplayCode">
                  <ion-input
                    [(ngModel)]="userJoinCode"
                    (keyup.enter)="attemptJoin()"
                    name="joinInput"
                    placeholder="Enter Group Code:">
                  </ion-input>
                </h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      }
      <!-- holds card when user is in waitroom -->
      @if (currentView() == 'waitroom'){
        <ion-card-header>
          <ion-toolbar color="transparent">
            <ion-card-title>Waiting for Host to Start Session</ion-card-title>
          </ion-toolbar>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button color="danger" expand="block" (click)="leaveRoom()" shape="round" class="ion-margin-top">
                  Leave Room
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-grid class="name-grid">
              @for (mem of groupMembers(); track mem) {
                <ion-row>
                      <ion-item>
                        {{ mem }}
                      </ion-item>
                </ion-row>
              }
            </ion-grid>
          </ion-grid>
        </ion-card-content>
      }
      <!-- Route filter/confirm ride screen -->
      @if (currentView() == 'start'){
        
        <ion-card>
          
          <ion-card-header>
            <ion-toolbar color="transparent">
              <ion-buttons slot="start">
                <ion-button (click)="goBackHost()">
                  <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-card-title>Route Preferences</ion-card-title>
            </ion-toolbar>
          </ion-card-header>

          <ion-card-content style="max-height: 80vh; overflow-y: auto;">
            <br><br><br><br><br><br><br><br><br><br><br>
            <ion-list lines="full">
              <ion-item>
                <ion-label>Less Curves</ion-label>
                <ion-toggle slot="end" [(ngModel)]="curveToggled"></ion-toggle>
              </ion-item>
              
              <ion-item>
                <ion-label>Slower Speeds</ion-label>
                <ion-toggle slot="end" [(ngModel)]="speedToggled"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>Check Weather</ion-label>
                <ion-toggle slot="end" [(ngModel)]="weatherToggled"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>Less Lights</ion-label>
                <ion-toggle slot="end" [(ngModel)]="lightToggled"></ion-toggle>
              </ion-item>
            </ion-list>

            <br>

            <ion-grid>
              
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="3">
                  <ion-button fill="outline" size="small" expand="block" (click)="prevRoute()" [disabled]="!routes || routes.length === 0">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                    Prev Route
                  </ion-button>
                </ion-col>
                
                <ion-col size="6" class="ion-text-center">
                  <small>Route {{ selectedRouteIndex !== null ? (selectedRouteIndex + 1) : '-' }} / {{ routes.length }}</small>
                </ion-col>

                <ion-col size="3">
                  <ion-button fill="outline" size="small" expand="block" (click)="nextRoute()" [disabled]="!routes || routes.length === 0">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                    Next Route
                  </ion-button>
                </ion-col>
              </ion-row>

              <br>

              <ion-row>
                <ion-col size="6">
                  <ion-button expand="block" fill="outline" (click)="fetchRoutes()" [disabled]="!lastPin">
                    Preview
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button expand="block" (click)="confirm()" [disabled]="pinCheck()" id="startButton">
                    Confirm
                  </ion-button>
                </ion-col>
              </ion-row>

            </ion-grid>
          </ion-card-content>
        </ion-card>
      }
    </ion-card>
  }
  @else{
      <ion-card id="rideInProgress">
        <ion-card-content>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              @if (currentView() == 'tracking'){
                <ion-col size="4">
                  <div class="time-container">
                    <small>TIME</small>
                    <div class="current-time">{{currentTime()}}</div>
                  </div>
                </ion-col>
                <ion-col size="8">
                  <ion-button expand="block" color="danger" shape="round" (click)="endOptions()">
                    END ROUTE TEST
                  </ion-button>
                </ion-col>
              }
              @else if (currentView() == 'end'){
                <ion-col size="6">
                  <ion-button expand="block" color="danger" shape="round" (click)="goBackHost()">
                    End Session TEST
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button expand="block" color="success" shape="round" (click)="startSession()">
                    New Route
                  </ion-button>
                </ion-col>
              }
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
  }
  </div>
</ion-content>
